.bookshelf {
	grid-template-columns: repeat(24, 1fr);

	h4 {
		text-transform: uppercase;
		letter-spacing: 1px;
		color: hsl(var(--text-100));
	}

	> * {
		padding: 2rem;

		@media (max-width: 880px) {
			padding: 1rem;
		}

		@media (max-width: 600px) {
			padding: 0.5rem;
		}
	}

	.input__icon {
		background-color: hsl(var(--surface--200));
	}

	&__filter {
		--col: 1 / 6;
		background-color: hsl(var(--surface--200) / 0.8);

		@media (max-width: 880px) {
			display: none;
		}
	}

	&__books {
		--col: 6 / 19;
		overflow-y: auto;
		overflow-x: hidden;

		@media (max-width: 980px) {
			--col: 6 / -1;
		}

		@media (max-width: 880px) {
			--col: 1 / -1;
		}
	}

	&__search {
		@media (max-width: 880px) {
			margin: 0 auto;
		}
	}

	&__mini-info {
		display: flex;
		justify-content: space-between;
		padding: 4px;
		align-items: center;
		width: min(15ch + 1.25rem, 100%);
	}

	&__book {
		flex-shrink: 0;
		align-self: center;
	}

	&__original-price {
		text-decoration: line-through;
		font-size: 0.8rem;
	}

	&__addtocart {
		padding: 0.5rem;
		background-color: hsl(var(--surface--200));
		border-radius: 50%;

		&:active {
			scale: 1.15;
		}
	}

	&__book-container {
		display: flex;
		position: relative;
	}

	&__about-container {
		p {
			font-size: 0.8rem;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}

	&__book-info {
		position: absolute;
		left: 100%;
		width: 350px;
		top: 50px;
		border-radius: 6px;
		z-index: 98;
		background-color: hsl(var(--surface--200));
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.8rem;

		@media (max-width: 600px) {
			position: static;
			width: 100%;
			border-radius: 0 6px 6px 0;
			gap: 0.25rem;
		}
	}

	& .rate {
		display: flex;
		gap: 0.25rem;
	}

	&__book-rating {
		display: flex;
		justify-content: space-between;

		@media (max-width: 600px) {
			flex-direction: column;

			p {
				display: none;
			}
		}
	}

	&__book-cover {
		height: 15.625rem;
		object-fit: cover;

		@media (max-width: 600px) {
			height: 10rem;
		}
	}
	&__book-cover-small {
		// height: 10rem;
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}

	&__book-title {
		@media (max-width: 600px) {
			font-size: 1rem;
		}
	}

	&__book-author {
		@media (max-width: 600px) {
			font-size: 0.7rem;
		}
	}

	&__cart {
		position: fixed;
		inset: auto 2rem 2rem auto;
		padding: 1.25rem;
		border-radius: 50%;
		background-color: hsl(var(--surface--200));
		z-index: 101;
	}

	&__no-of-books {
		position: absolute;
		font-size: 14px;
		top: 0;
		right: 0;
		background-color: hsl(var(--surface--100));
		height: 24px;
		width: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.25rem 0.5rem;
		border-radius: 50%;
		font-weight: bold;
	}

	&__books-section {
		--min: 15ch;
		--gap: 1.25rem;
		display: grid;
		gap: var(--gap);
		grid-template-columns: repeat(
			auto-fill,
			minmax(min(100%, var(--min)), 1fr)
		);
		margin-top: 2rem;

		@media (max-width: 600px) {
			grid-template-columns: 1fr;
			margin-top: 1rem;
		}
	}

	&__cart-items {
		--min: 15ch;
		--gap: 1.25rem;
		margin-top: 1rem;
		display: grid;
		gap: var(--gap);
		grid-template-columns: repeat(
			auto-fill,
			minmax(min(100%, var(--min)), 1fr)
		);
	}

	&__cart-item-cover {
		height: 15rem;
		object-fit: cover;

		@media(max-width: 600px) {
			height: 10rem;
		}
	}

	&__cart-total {
		font-size: 1.5rem;

		@media (max-width: 600px) {
			font-size: 1rem;
		}
	}

	&__recommendation {
		--col: 19 / -1;
		background-color: hsl(33 100% 98%);

		@media (max-width: 980px) {
			display: none;
		}
	}

	&__cart-page {
		--col: 1 / -1;
		position: absolute;
		z-index: 100;
		background-color: hsl(var(--surface--200));
		inset: 0;

		> * {
			--col: 2 / -2;
		}
	}

	&__recommendation-section {
		// display: grid;
		// grid-template-columns: repeat(2, 1fr);
		// grid-template-rows: repeat(2, 1fr);
		// grid-column-gap: 0px;
		// grid-row-gap: 5px;
		margin-top: 2ch;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 1ch;
	}
	&__recommendation-section > div {
		height: 10rem;
		max-width: fit-content;
	}
	&__filter-section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem;
	}
	&__filter-section > * {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		gap: 0.6ch;
	}
	&__filter-section {
		input[type='checkbox'] {
			height: 23px;
			width: 14px;
		}
	}
	&__filter-section-clear {
		display: flex;
		// justify-content: center;
	}
	&__filter-section-clear > * {
		display: flex;
		justify-content: center;
		font-size: small;
		font-weight: 600;
		text-transform: uppercase;
		align-items: center;
		border: 2px solid red;
		background-color: rgb(248, 212, 212);
		padding: 0.3rem;
		border-radius: 70px;
		gap: 0.5ch;
		color: red;
	}
	&__filter-section-clear > *:hover {
		background-color: rgb(248, 202, 202);
		transition: all 0.2s ease-in-out;
		// color: white;
		svg {
			color: white;
		}
	}
	&__recommendation-section {
		// display: grid;
		// grid-template-columns: repeat(2, 1fr);
		// grid-template-rows: repeat(2, 1fr);
		// grid-column-gap: 0px;
		// grid-row-gap: 5px;
		margin-top: 2ch;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 1ch;
	}
	&__recommendation-section > div {
		height: 10rem;
		max-width: fit-content;
	}
	&__filter-section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem;
	}
	&__filter-section > * {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		gap: 0.6ch;
	}
	&__filter-section {
		input[type='checkbox'] {
			height: 23px;
			width: 14px;
		}
	}
	&__filter-section-clear {
		display: flex;
		// justify-content: center;
	}
	&__filter-section-clear > * {
		display: flex;
		justify-content: center;
		font-size: small;
		font-weight: 600;
		text-transform: uppercase;
		align-items: center;
		border: 2px solid red;
		background-color: rgb(248, 212, 212);
		padding: 0.3rem;
		border-radius: 70px;
		gap: 0.5ch;
		color: red;
	}
	&__filter-section-clear > *:hover {
		background-color: rgb(248, 202, 202);
		transition: all 0.2s ease-in-out;
		// color: white;
		svg {
			color: white;
		}
	}
}
