.home__container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	height: calc(100vh - 66px);
	&__sellbook {
		display: none;
	}
	&__welcome {
		color: hsl(var(--text-200));
		margin-top: 3rem;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 0.25rem;
	}
	&__welcome h3 {
		text-transform: uppercase;
		font-size: clamp(0.75rem, 1vw + 0.5rem, 1rem);
		font-weight: 600;
		color: hsl(78, 63%, 26%);
	}
	&__welcome h1 {
		font-size: clamp(4rem, 5vw + 0.5rem, 8rem);
		font-weight: 600;
	}
	&__welcome h2 {
		font-size: clamp(0.9rem, 2vw + 0.5rem, 1.5rem);
		font-weight: 400;
		text-align: center;
	}
	&__welcome #content::after {
		content: '\a';
		white-space: pre;
	}
	&__hero__container {
		margin-top: auto;
		border-radius: 60px 60px 0px 0px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		height: 50%;
		width: min(992px, 100%);
	}
	&__hero__container img {
		margin: 0 auto;
		height: 100%;
		object-fit: cover;
		user-select: none;
	}
}
@media only screen and (max-width: 600px) {
	.home__container {
		flex-direction: column-reverse;
		justify-content: flex-end;
		gap: 2ch;
		&__sellbook {
			display: block;
		}
		&__sellbook button {
			gap: 1ch;
			padding: 0.5rem 1rem;
		}
		&__hero__container {
			margin-bottom: 0;
			margin-top: 0;
			background-color: #f9f3ec;
		}
		&__hero__container img {
			width: 90%;
			height: 100%;
			object-fit: cover;
			mix-blend-mode: multiply;
		}
		&__welcome {
			margin-top: 0;
		}

		&__welcome #content::after {
			content: '';
		}
		&__hero__container img {
			border-radius: 0 0 12px 12px;
		}
		.purbtn {
			background-color: hsl(var(--purple-100));
			color: hsl(var(--surface--200));
			text-decoration: none;
		}
		a.purbtn:hover {
			text-decoration: none;
		}
	}
}
