@use 'tokens/base' as *;
#root {
	--nav-height: 66px;
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));

	> * {
		display: grid;
		grid-template-columns: inherit;
		grid-column: var(--col, 1 / -1);

		> * {
			grid-column: var(--col, 2 / -2);
			grid-row-start: var(--row-start, auto);
		}
	}
}

body {
	font-family: 'Open Sans', system-ui, -apple-system, sans-serif;
}

.page {
	height: calc(100vh - var(--nav-height));
}

button:focus-visible {
	outline: 2px solid hsl(var(--purple-100));
	outline-offset: 2px;
}