.nav {
	--gap: 1.25rem;
	--row-start: 1;
	font-size: var(--fs-200);
	grid-template-rows: 4rem;
	align-items: center;
	text-transform: uppercase;
	border-bottom: 2px solid hsl(var(--surface--200));
	gap: var(--gap);

	&__logo {
		--col: 2 / 2;
	}

	&__list {
		display: flex;
		gap: var(--gap);
		list-style: none;
		padding-inline-start: 0;
		justify-self: center;
	}

	&__link {
		display: flex;
		align-items: center;
		gap: calc(var(--gap) / 4);
		color: var(--text--100);
	}

	&__btn-group {
		--col: -4 / -2;
		align-items: center;
		display: flex;
		gap: var(--gap);
	}

	&__btn {
		text-transform: inherit;
		color: hsl(var(--text-100));

		&:active {
			scale: 0.92;
		}
	}

	&__action {
		font-size: var(--fs-100);
		padding: 0.5em 0.75em;
		border-radius: 6px;
		background-color: hsl(var(--purple-100));
		color: hsl(var(--surface--400));
	}

	svg {
		flex-shrink: 0;
	}
}
