.nav {
	--gap: 1.25rem;
	--row-start: 1;
	font-size: var(--fs-200);
	grid-template-rows: 4rem;
	align-items: center;
	text-transform: uppercase;
	border-bottom: 2px solid hsl(var(--surface--200));
	gap: var(--gap);

	&__logo {
		--col: 2;
		justify-self: start;
	}

	&__list {
		display: flex;
		gap: var(--gap);
		list-style: none;
		padding-inline-start: 0;
		justify-self: center;
	}

	&__menu {
		--col: -3 / -2;
		--op: 0.2;
		justify-self: end;
		padding: 0.75rem;
		background-color: hsl(var(--surface--100) / var(--op));
		border-radius: 6px;
		display: none;

		&:hover {
			--op: 0.3;
		}

		&:active {
			--op: 0.4;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		gap: calc(var(--gap) / 4);
		color: var(--text--100);

		&--active {
			color: hsl(34 98% 48%);
		}
	}

	&__btn-group {
		--col: -4 / -2;
		align-items: center;
		display: flex;
		gap: var(--gap);
		justify-content: end;
	}

	&__btn {
		text-transform: inherit;
		color: hsl(var(--text-100));

		&:active {
			scale: 0.92;
		}
	}

	&__action {
		font-size: var(--fs-100);
		padding: 0.5em 0.75em;
		border-radius: 6px;
		background-color: hsl(var(--purple-100));
		color: hsl(var(--surface--400));
	}

	svg {
		flex-shrink: 0;
	}

	@media (max-width: 640px) {
		--gap: 1rem;
		position: sticky;
		top: 0;

		&__menu {
			display: block;
		}

		&__list,
		&__btn-group {
			--row-start: 2;
			--col: 2 / -2;
			display: flex;
			flex-direction: column;
			align-items: start;
		}

		&__btn-group {
			--row-start: 3;
			margin: 0 auto;
			padding-bottom: var(--gap);

			& > :last-child::after {
				content: 'Sign In';
			}
		}

		&__btn {
			display: flex;
			gap: 0.25rem;
			align-items: center;
		}

		&__action {
			background-color: transparent;
			color: hsl(var(--text--100));
			font: inherit;
			padding: 0;
		}
	}
}

.hidden {
	display: none;
}
